include ~@Blocks/topic-label/topic-label.pug

mixin inputText({ topic = '', label = '', placeholder = 'Введите данные...', inputText = '', state = '', id, type = '', name = '' })
  - let classDate
  if name == 'date'
    - classDate = 'input-text__input_date'
  else
    - classDate = ''

  if type == "subscription"
    .input-text.input-text_subscription
      +topicLabel({ topic, label })
      if state == "focus"
        input(class="input-text__input input-text__input_hover " name=name placeholder=placeholder id="inputText" + id value= inputText)
      else
        input(class="input-text__input " name=name placeholder=placeholder id="inputText" + id value= inputText)
  else  
    .input-text
      +topicLabel({ topic, label })
      if state == "focus"
        input(class="input-text__input input-text__input_hover "+classDate name=name placeholder=placeholder id="inputText" + id value= inputText)
      else
        input(class="input-text__input "+classDate name=name placeholder=placeholder id="inputText" + id value= inputText)