include ~@Blocks/topic-label/topic-label.pug

mixin inputText(obj)
  - let classDate
  if obj.name == 'date'
    - classDate = 'input-text__input_date'
  else
    - classDate = ''

  if obj.type == "subscription"
    .input-text.input-text_subscription
      +topicLabel(obj)
      if obj.state == "focus"
        input(class="input-text__input input-text__input_hover " name=obj.name placeholder=obj.placeholder id="inputText" + obj.id value= obj.inputText)
      else
        input(class="input-text__input " name=obj.name placeholder=obj.placeholder id="inputText" + obj.id value= obj.inputText)
  else  
    .input-text
      +topicLabel(obj)
      if obj.state == "focus"
        input(class="input-text__input input-text__input_hover "+classDate name=obj.name placeholder=obj.placeholder id="inputText" + obj.id value= obj.inputText)
      else
        input(class="input-text__input "+classDate name=obj.name placeholder=obj.placeholder id="inputText" + obj.id value= obj.inputText)