include ~@Blocks/link/link.pug
include ~@Blocks/dropdown/dropdown.pug
include ~@Blocks/dropdown-dates/dropdown-dates.pug
include ~@Blocks/button/button.pug

mixin formReservation({ number = 0, priceFrom = 0, priceFinal = 0 })
  form.form-reservation
    .form-reservation__block
      .form-reservation__number
        span= "№ "
        span= number +" "
        .form-reservation__link-lux
          +link(
            {
              text : "люкс",
            }
          )
      .form-reservation__number-price
        span= priceFrom
        span= "₽"
        span= " в сутки"

    .form-reservation__dropdown-dates
      +dropdownDates(
        {
          items : [
            { 
              topic : "Прибытие",
              activeDate : "19.08.2019",
            },
            { 
              topic : "Выезд",
              activeDate : "23.08.2019",
            }
          ]
        }
      ) 

    +dropdown(
      { 
        name : "guests",
        topic : "Гости",
        activeText : "3 гостя",
        items : [
          {
            text : "взрослые",
            qty : 3,
          },
          {
            text : "дети",
          },
          {
            text : "младенцы",
          }
        ]
      }
    )  

    +formReservation__blockPrices(
      {
        items : [
          {
            textPrice : "9 990₽ х 4 суток",
            sumPrice : "39 960",
            iconInfo : false
          },
          {
            textPrice : "Сбор за услуги: скидка <span>2 179₽</span>",
            sumPrice : "0",
            iconInfo : true
          },
          {
            textPrice : "Сбор за доп. услуги",
            sumPrice : "300",
            iconInfo : true
          }
        ]
      }
    )

    .form-reservation__block
      h2.form-reservation__total-text= "Итого"
      span.form-reservation__dashed
      h2.form-reservation__total-price= priceFinal +"₽"

    .form-reservation__btn
      +button(
        {
          text : "Забронировать",
          hasArrow : true,
        }
      )


mixin formReservation__blockPrices({ items = [{}] })
  .form-reservation__block-prices
    each item in items
      .form-reservation__line-price
        .form-reservation__service
          p.form-reservation__name-service !{item.textPrice}
          if item.iconInfo == true
            .form-reservation__icon-info-price i
        p= item.sumPrice +"₽"