include ../../../blocks/elements/link/link.pug
include ../../../blocks/elements/rate-btn/rate-btn.pug

mixin cardRoom(obj)
  div.card-room
    a(href="/details-room.html")
      div.card-room__image(id=obj.id)
        div.card-room__slider-pagination
          div.card-room__slider-pagination-item.card-room__slider-pagination-item_active
          div.card-room__slider-pagination-item
          div.card-room__slider-pagination-item
          div.card-room__slider-pagination-item
    div.card-room__info-room
      div.card-room__number-price.card-room__number-price_bottom-border
        p
          span= "№ "
          span= obj.number+" "
          if obj.markLink != ""
            +link(
              {
                text : obj.markLink,
                url : '#',
                type : "lux"
              }
              )
        p
          span= obj.price
          span= "₽"
          span= " в сутки"
      div.card-room__number-price
        +rateBtn(
          {
            qty : 5,
            active : obj.rating
          }
          )
        p
          span= obj.review
          span= " Отзывов"