include ~@Blocks/like/like.pug

mixin commentBlock({ topic = '', label = '', items = [{urlImg : '#', liked : false, qty : 0, name : 'Фамилия Имя', time : '', text : ''}] })
  .comment-block
    if topic != ""
      .comment-block__title
        h2.comment-block__name-records= topic
        p.comment-block__qty-records= label
    each item in items
      .comment-block__comment
        .comment-block__person
          img.comment-block__photo(src=item.urlImg width="400" height="300" alt="photo room")
          .comment-block__name-time
            p.comment-block__name= item.name
            p.comment-block__time= item.time
        .comment-block__comment-text
          .comment-block__like
            +like(
              {
                qty : item.qty,
                liked : item.liked
              }
            )
          p.comment-block__text= item.text