
include /ui_kit/form_elements/link/link.pug

mixin dropdown(label,labelRight,text,dopclass)
	div.blockDropdown
		if label != '' && labelRight !=''
			div.dropdown_labels
				h3= label
				p= labelRight
		else 
			if label != ''
				h3= label
			if labelRight != ''
				p= labelRight
		div(class='blockDropdown_dropdown '+ dopclass)= text
			img.blockDropdown_dropdown_expand(src="project/img/expand_more.svg")
				

mixin dropdownEx(label,labelRight,text,dopclass)
	if label != '' && labelRight !=''
		div.dropdown_labels
			h3= label
			p= labelRight
	else 
		if label != ''
			h3= label
		if labelRight != ''
			p= labelRight
	div(class='blockDropdown_dropdown blockDropdown_dropdown__whisItems '+ dopclass)= text
		img.blockDropdown_dropdown_expand(src="project/img/expand_more.svg")

mixin dropdownItems(text,num,dopclass1,dopclass2)
	div.blockDropdown_dropdownItems_line
		h3= text
		div.blockDropdown_dropdownItems_line_incBlock
			div(class='blockDropdown_dropdownItems_line_incBlock_inc '+ dopclass1)= '-'
			span= num
			div(class='blockDropdown_dropdownItems_line_incBlock_inc '+ dopclass2)= '+'

mixin dropdownItemsLink(num)
	
	if num > 0
		div.blockDropdown_dropdownItems_lineBtn
			+link('Очистить','link__clean link__grey')
			+link('Применить','link__ok')
	else
		div.blockDropdown_dropdownItems_lineBtn.dropdownItemsLink_flexEnd
			+link('Применить','link__ok')