include /blocks/elements/dropdown/dropdownBlock.pug
include /blocks/elements/dropdown/dropdownDates.pug
include /blocks/elements/btn/btn.pug

mixin formReservation(number,priceS,price)
  div.formReservation
    div.formReservation_block
      p
        span= "№ "
        span= number +" "
        +link("люкс","link__fio",'#')
      p
        span= priceS
        span= "₽"
        span= " в сутки"
          
    +dropdownDates(
      {
        btnClean : false,
        btnOk : false
      },
      { 
        topic : "Прибытие",
        activeText : "19.08.2019",
      },
      { 
        topic : "Выезд",
        activeText : "23.08.2019",
      }
      ) 
    

    +dropdownBlock(          
      { 
        topic : "Гости",
        label : "",
        activeText : "3 гостя",
        state : "close",
        btnClean : true,
        btnOk : true
      },
      {
        text : "взрослые",
        qty : 3,
        minus : "active",
        plus : "active"
      },
      {
        text : "дети",
        qty : 0,
        minus : "disable",
        plus : "active"
      },
      {
        text : "младенцы",
        qty : 0,
        minus : "disable",
        plus : "active"
      }    
      )  
    
    div.formReservation_blockPrices
      +formReservation_blockPrices_line("","9 990₽ х 4 суток","39 960")
      +formReservation_blockPrices_line("formReservation_blockPrices_line_leftBlock_p__infoMark","Сбор за услуги: скидка 2 179₽","0")
      +formReservation_blockPrices_line("formReservation_blockPrices_line_leftBlock_p__infoMark","Сбор за доп. услуги","300")
    div.formReservation_block
      h2= "Итого"
      span.dashed
      h2= price +"₽"
    +btn("Забронировать","btn_gradient btn_gradient_pay")


mixin formReservation_blockPrices_line(dopclass,text,price)
  div.formReservation_blockPrices_line
    div.formReservation_blockPrices_line_leftBlock
      p(class="formReservation_blockPrices_line_leftBlock_p__text ")= text
      if dopclass=="formReservation_blockPrices_line_leftBlock_p__infoMark"
        div.formReservation_blockPrices_line_leftBlock_p__infoMark i
    p= price +"₽"