mixin colorType__itemColor(obj)
  div.ui-kit-color-type__item-color
    div(class="ui-kit-color-type__color " +obj.classColor)
    div.ui-kit-color-type__block-text
      h2.ui-kit-color-type__color-topic= obj.topic
      h2.ui-kit-color-type__color-label= obj.label


div.ui-kit-color-type
  img.ui-kit-color-type__ico-logo(src="pages/ui-kit_colorType/ico_logo.svg" alt="logo")
  div.ui-kit-color-type__block-colors
    +colorType__itemColor(
      {
        classColor : "ui-kit-color-type__color_dark-shade-100",
        topic : "Dark Shade 100%",
        label : "#1F2041"
      }
      )
    +colorType__itemColor(
      {
        classColor : "ui-kit-color-type__color_dark-shade-75",
        topic : "Dark Shade 75%",
        label : "#1F2041"
      }
      )
    +colorType__itemColor(
      {
        classColor : "ui-kit-color-type__color_dark-shade-50",
        topic : "Dark Shade 50%",
        label : "#1F2041"
      }
      )
    +colorType__itemColor(
      {
        classColor : "ui-kit-color-type__color_dark-shade-25",
        topic : "Dark Shade 25%",
        label : "#1F2041"
      }
      )
    +colorType__itemColor(
      {
        classColor : "ui-kit-color-type__color_dark-shade-5",
        topic : "Dark Shade 5%",
        label : "#1F2041"
      }
      )
    +colorType__itemColor(
      {
        classColor : "ui-kit-color-type__color_purple",
        topic : "Purple",
        label : "#BC9CFF"
      }
      )
    +colorType__itemColor(
      {
        classColor : "ui-kit-color-type__color_green",
        topic : "Green",
        label : "#6FCF97"
      }
      )

  div.ui-kit-color-type__block-types
    div.ui-kit-color-type__item-type
      h1.ui-kit-color-type__type-tag= "H1"
      h1.ui-kit-color-type__type-text= "This one is the sub-section or widget title"
    div.ui-kit-color-type__item-type
      h2.ui-kit-color-type__type-tag= "H2"
      h2.ui-kit-color-type__type-text= "Next one is the item title inside widgets"
    div.ui-kit-color-type__item-type
      h3.ui-kit-color-type__type-tag= "H3"
      h3.ui-kit-color-type__type-text= "This is a label or CTA text"
    div.ui-kit-color-type__item-type
      p.ui-kit-color-type__type-tag= "Body"
      p.ui-kit-color-type__type-text= "This is the body text which is used for most of the design, like paragraphs, lists, etc."