include ~@Blocks/btn/btn.pug
include ~@Blocks/input-text/input-text.pug


mixin footer
  div.footer
    div.footer__block-menu
      div.footer__content-container
        div.footer__logo-block
          img.footer__logo(src=require("@Blocks/footer/logo.svg").default alt="logo")
          p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

        +footer__menu(
          {
            links : ["Навигация","О нас","Новости","Служба поддержки","Услуги"]
          },
          {
            links : ["О нас","О сервисе","Наша команда","Вакансии","Инвесторы"]
          },
          {
            links : ["Служба поддержки","Соглашения","Сообщества","Связь с нами"]
          }
        )

        div.footer__subscription
          p.footer__block-topic Подписка
          p Получайте специальные предложения и новости сервиса
          +inputText(
            {
              topic : "",
              label : "",
              placeholder : "Email",
              inputText : "",
              id : "inputFooter",
              type : "subscription",
              name : ""
            }
          )

    div.footer__copyright-block
      div.footer__copyright-content
        p Copyright © 2018 Toxin отель. Все права защищены.
        div.footer__soc-block  
          span.footer__soc-network
            a(href="#")
              img.footer__soc-network-twitter(src=require("@Blocks/footer/twitter.svg").default alt="twitter")
          span.footer__soc-network
            a(href="#")
              img.footer__soc-network-facebook(src=require("@Blocks/footer/facebook.svg").default alt="facebook")
          span.footer__soc-network
            a(href="#")
              img.footer__soc-network-instagram(src=require("@Blocks/footer/instagram.svg").default alt="instagram")


mixin footer__menu(...items)
  ul.footer__bottom-menu
    each item in items
      li.footer__menu-column
        ul.footer__menu-list
          each link in item.links
            li(class="footer__menu-li")
              a= link