include ~@Blocks/btn/btn.pug
include ~@Blocks/input-text/input-text.pug

mixin footer({ items = [{}] })
  footer.footer
    .footer__block-menu
      .footer__content-container
        .footer__logo-block
          img.footer__logo(src=require("@Blocks/footer/img/logo.svg").default alt="logo")
          p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»

        ul.footer__footer-menu
          each column in items
            li.footer__menu-column
              ul.footer__menu-list
                each itemLink in column
                  li.footer__menu-li
                    a.footer__menu-a(href=itemLink.link)= itemLink.text

        .footer__subscription
          p.footer__subscription-topic Подписка
          p.footer__subscription-text Получайте специальные предложения и новости сервиса
          .footer__subscription-input
            +inputText(
              {
                placeholder : "Email",
                id : "inputFooter",
                type : "subscription",
              }
            )

    .footer__copyright-block
      .footer__copyright-content
        p Copyright © 2018 Toxin отель. Все права защищены.
        .footer__soc-block  
          span.footer__soc-network
            a(href="#")
              img.footer__soc-network-twitter(src=require("@Blocks/footer/img/twitter.svg").default alt="twitter")
          span.footer__soc-network
            a(href="#")
              img.footer__soc-network-facebook(src=require("@Blocks/footer/img/facebook.svg").default alt="facebook")
          span.footer__soc-network
            a(href="#")
              img.footer__soc-network-instagram(src=require("@Blocks/footer/img/instagram.svg").default alt="instagram")