include ~@Blocks/link/link.pug
include ~@Blocks/rate-btn/rate-btn.pug

mixin cardRoom({ id, number, price, markLink = '', review = 0, rating = 0 })
  .card-room
    .card-room__image-block
      .card-room__image.card-room__image_active(id=id)
      .card-room__image(id=id+1)
      .card-room__image(id=id+2)
      .card-room__image(id=id+3)
      .card-room__arrows
        .card-room__arrow-left
        .card-room__arrow-right
      .card-room__slider-pagination
        .card-room__slider-pagination-item.card-room__slider-pagination-item_active(id="pag1")
        .card-room__slider-pagination-item(id="pag2")
        .card-room__slider-pagination-item(id="pag3")
        .card-room__slider-pagination-item(id="pag4")
    .card-room__info-room
      .card-room__number-price.card-room__number-price_bottom-border
        p.card-room__number
          span= "№ "
          span= number
          if markLink != ""
            +link(
              {
                text : markLink,
              }
            )
        p.card-room__price
          span= price
          span= "₽"
          span= " в сутки"
      .card-room__number-price
        +rateBtn(
          {
            qty : 5,
            active : rating
          }
        )
        p.card-room__review
          span= review
          span= " Отзывов"