include ~@Blocks/link/link.pug
include ~@Blocks/rate-btn/rate-btn.pug

mixin cardRoom({ urlsImg = [], id, number, price, link='./link-stub', markLink = '', review = 0, rating = 0 })
  .card-room.js-card-room
    .card-room__image-block
      each url, index in urlsImg
        if index == 0
          img.card-room__image.js-card-room__image.card-room__image_active(src=url)
        else
          img.card-room__image.js-card-room__image(src=url)
      .card-room__nav
        .card-room__arrow-left.js-card-room__arrow-left
        a.card-room__image-link(href=link)
        .card-room__arrow-right.js-card-room__arrow-right
      .card-room__slider-pagination
        each url, index in urlsImg
          if index == 0
            .card-room__slider-pagination-item.card-room__slider-pagination-item_active
          else
            .card-room__slider-pagination-item
    .card-room__info-room
      .card-room__number-price.card-room__number-price_bottom-border
        a.card-room__number(href=link)
          span= "№ "
          span= number
          if markLink != ""
            +link(
              {
                text : markLink,
              }
            )
        p.card-room__price
          span= price
          span= "₽"
          span= " в сутки"
      .card-room__number-price
        +rateBtn(
          {
            active : rating
          }
        )
        p.card-room__review
          span= review
          span= " Отзывов"