include ~@Blocks/link/link.pug
include ~@Blocks/topic-label/topic-label.pug
include ~@Blocks/calendar/calendar.pug


mixin dropdown(obj,...items)
  .dropdown(name=  obj.name)
    +topicLabel(obj)
    +dropdown__dropdown(obj)

    if items != ""
      if obj.state == "close"
        .dropdown__dropdown-items.dropdown__dropdown-items_hide
          +dropdown__itemsLine(obj,...items)
      else
        .dropdown__dropdown-items
          +dropdown__itemsLine(obj,...items)

    if obj.name == 'date'
      +calendar({state : "close"})


mixin dropdown__dropdown(obj)
  if obj.state == "close"
    .dropdown__dropdown= obj.activeText
  else
    .dropdown__dropdown.dropdown__dropdown_items-show= obj.activeText


mixin dropdown__itemsLine(obj,...items)
  each item in items
    .dropdown__items-line
      h3= item.text
      .dropdown__block-qty
        if item.minus == "disable"
          .dropdown__inc-qty-minus.dropdown__inc-qty_disable= "-" 
        else
          .dropdown__inc-qty-minus= "-"
        span= item.qty
        if item.plus == "disable"
          .dropdown__inc-qty-plus.dropdown__inc-qty_disable= "-" 
        else
          .dropdown__inc-qty-plus= "+"

  if obj.btnClean == true || obj.btnOk == true
    if obj.btnClean == false && obj.btnOk == true
      .dropdown__btns.dropdown__btns_flex-end
        +links
    else
      .dropdown__btns
        +links


mixin links
  .dropdown__btns-link.dropdown__btns-link_clean
    +link(
      {
        text : "Очистить",
        url : '#',
        type : "ok"
      }
    )
  .dropdown__btns-link.dropdown__btns-link_ok
    +link(
      {
        text : "Применить",
        url : '#',
        type : "ok"
      }
    )