include ~@Blocks/link/link.pug
include ~@Blocks/topic-label/topic-label.pug
include ~@Blocks/calendar/calendar.pug

mixin dropdown({ name = '', topic = 'Заголовок', label = '', activeText = 'Текст', state = 'close', btnClean = true, btnOk = true, items = [] })
  .dropdown(name= name)
    +topicLabel({ topic, label })
    +dropdown__dropdown({ state, activeText })

    if items != ""
      if state == "close"
        .dropdown__dropdown-items.dropdown__dropdown-items_hide
          +dropdown__itemsLine(btnClean, btnOk, items)
      else
        .dropdown__dropdown-items
          +dropdown__itemsLine(btnClean, btnOk, items)

    if name == 'date'
      .dropdown__calendar
        +calendar({})


mixin dropdown__dropdown({ state, activeText })
  if state == "close"
    .dropdown__dropdown= activeText
  else
    .dropdown__dropdown.dropdown__dropdown_items-show= activeText


mixin dropdown__itemsLine(btnClean, btnOk, items)
  - let minQty = 0

  each item in items
    .dropdown__items-line
      h3= item.text
      .dropdown__block-qty
        if item.minus == "disable" || item.qty == minQty || item.qty == undefined
          .dropdown__inc-qty-minus.dropdown__inc-qty_disable= "-"
          span= minQty
        else
          .dropdown__inc-qty-minus= "-"
          span= item.qty
        if item.plus == "disable"
          .dropdown__inc-qty-plus.dropdown__inc-qty_disable= "-" 
        else
          .dropdown__inc-qty-plus= "+"

  if btnClean == true || btnOk == true
    if btnClean == false && btnOk == true
      .dropdown__btns.dropdown__btns_flex-end
        +links
    else
      .dropdown__btns
        +links


mixin links
  .dropdown__btns-link.dropdown__btns-link_clean
    +link(
      {
        text : "Очистить",
        url : '#',
        type : "clean"
      }
    )
  .dropdown__btns-link.dropdown__btns-link_ok
    +link(
      {
        text : "Применить",
        url : '#',
        type : "ok"
      }
    )