include ~@Blocks/link/link.pug
include ~@Blocks/topic-label/topic-label.pug
include ~@Blocks/calendar/calendar.pug


mixin dropdownBlock(obj,...items)
  div.dropdown-block(name=  obj.name)
    +topicLabel(obj)
    +dropdownBlock__dropdown(obj)

    if items != ""
      if obj.state == "close"
        div.dropdown-block__dropdown-items.dropdown-block__dropdown-items_hide
          +dropdownBlock__itemsLine(obj,...items)
      else
        div.dropdown-block__dropdown-items
          +dropdownBlock__itemsLine(obj,...items)
    
    if obj.name == 'date'
      +calendar({state : "close"})
      

mixin dropdownBlock__dropdown(obj)
  if obj.state == "close"
    div(class="dropdown-block__dropdown")= obj.activeText
  else
    div(class="dropdown-block__dropdown dropdown-block__dropdown_items-show")= obj.activeText


mixin dropdownBlock__itemsLine(obj,...items)
  each item in items
    div.dropdown-block__items-line
      h3= item.text
      div.dropdown-block__block-qty
        if item.minus == "disable"
          div(class="dropdown-block__inc-qty-minus dropdown-block__inc-qty_disable")= "-"
        else
          div(class="dropdown-block__inc-qty-minus")= "-"
        span= item.qty
        if item.plus == "disable"
          div(class="dropdown-block__inc-qty-plus dropdown-block__inc-qty_disable")= "-"
        else
          div(class="dropdown-block__inc-qty-plus")= "+"
  
  if obj.btnClean == true || obj.btnOk == true
    if obj.btnClean == false && obj.btnOk == true
      div.dropdown-block__btns.dropdown-block__btns_flex-end
        +links
    else
      div.dropdown-block__btns
        +links


mixin links
  +link(
    {
      text : "Очистить",
      url : '#',
      type : "clean"
    }
    )
  +link(
    {
      text : "Применить",
      url : '#',
      type : "ok"
    }
    )