include ~@Blocks/link/link.pug
include ~@Blocks/topic-label/topic-label.pug
include ~@Blocks/calendar/calendar.pug

mixin dropdown({ name = '', topic = 'Заголовок', label = '', activeText = 'Текст', state = 'close', hasBtnClean = true, hasBtnOk = true, items = [] })
  .dropdown.js-dropdown(name= name)
    +topicLabel({ topic : topic, label : label })
    - let dropdownOpenClass = ''
    - let dropdownItemsHiddenClass = ''

    if state == 'close'
      - dropdownItemsHiddenClass = 'dropdown__dropdown-items_hide'
    else
      - dropdownOpenClass = 'dropdown__dropdown_items-show'

    if items.length != 0
      div(class='dropdown__dropdown js-dropdown__dropdown ' + dropdownOpenClass)= activeText
      div(class='dropdown__dropdown-items ' + dropdownItemsHiddenClass)
        - const minNumber = 0

        each item in items
          .dropdown__items-line
            h3.dropdown__record-name= item.text
            .dropdown__block-qty
              - let minusDisabledClass = ''
              - let plusDisabledClass = ''
              - let count = item.number

              if item.minus == "disable" || item.number == minNumber || item.number == undefined
                - minusDisabledClass = 'dropdown__inc-qty_disable'
                - count = minNumber
              if item.plus == "disable"
                - plusDisabledClass = 'dropdown__inc-qty_disable'

              div(class='dropdown__inc-qty-minus js-dropdown__inc-qty-minus ' + minusDisabledClass)= "-"
              span= count
              div(class='dropdown__inc-qty-plus js-dropdown__inc-qty-plus' + plusDisabledClass)= "+" 

        if hasBtnClean || hasBtnOk
          - let btnCleanHiddenClass = ''
          if !hasBtnClean
            - btnCleanHiddenClass = 'dropdown__btns-link_clean_hidden'

          .dropdown__btns.js-dropdown__btns
            div(class='dropdown__btns-link dropdown__btns-link_clean ' + btnCleanHiddenClass)
              +link(
                {
                  text : "Очистить",
                  type : "clean"
                }
              )
            .dropdown__btns-link.dropdown__btns-link_ok
              +link(
                {
                  text : "Применить",
                  type : "ok"
                }
              )
    else
      .dropdown__dropdown.js-dropdown__dropdown= activeText

    if name == 'date'
      .dropdown__calendar
        +calendar({})