include /blocks/elements/rateBtn/rateBtn.pug

mixin cardRoom(id,number,price,link,review,mark)
  div.cardRoom
    div.cardRoom_image(id=id)
      div.cardRoom_image_pagination
        div.cardRoom_image_pagination_item.cardRoom_image_pagination_item__active
        div.cardRoom_image_pagination_item
        div.cardRoom_image_pagination_item
        div.cardRoom_image_pagination_item
    div.cardRoom_contentInfo
      div.cardRoom_contentInfo_block.cardRoom_contentInfo_block__border
        p
          span= "№ "
          span= number+" "
          if link== "люкс"
            +link(
              {
                text : "люкс",
                url : '#',
                type : "lux"
              }
              )
        p
          span= price
          span= "₽"
          span= " в сутки"
      div.cardRoom_contentInfo_block
        +rateBtn(
          {
            qty : 5,
            active : mark
          }
        )
        p
          span= review
          span= " Отзывов"