mixin blockColor_item(color,text1,text2)
  div.blockColor_item
    div(class="blockColor_item_blk " +color)
    div.blockColor_text
      h2.blockColor_text1= text1
      h2.blockColor_text2= text2

mixin blockType_item(h,text)
  div.blockType_item
    if h == 1
      h1.blockType_item_sym= "H1"
      h1.blockType_text= text
    if h == 2
      h2.blockType_item_sym= "H2"
      h2.blockType_text= text
    if h == 3
      h3.blockType_item_sym= "H3"
      h3.blockType_text= text
    if h > 3
      p.blockType_item_sym= "Body"
      p.blockType_text= text


div.colorType
  img.ico_logo(src="ui_kit/ico_logo.svg" alt="logo")
  div.blockColor
    +blockColor_item("colorDarkShade100","Dark Shade 100%","#1F2041")
    +blockColor_item("colorDarkShade75","Dark Shade 75%","#1F2041")
    +blockColor_item("colorDarkShade50","Dark Shade 50%","#1F2041")
    +blockColor_item("colorDarkShade25","Dark Shade 25%","#1F2041")
    +blockColor_item("colorDarkShade5","Dark Shade 5%","#1F2041")
    +blockColor_item("colorPurple","Purple","#BC9CFF")
    +blockColor_item("colorGreen","Green","#6FCF97")

  div.blockType
    +blockType_item(1,"This one is the sub-section or widget title")
    +blockType_item(2,"Next one is the item title inside widgets")
    +blockType_item(3,"This is a label or CTA text")
    +blockType_item(4,"This is the body text which is used for most of the design, like paragraphs, lists, etc.")