include ../../../blocks/elements/like/like.pug

mixin commentBlock(obj,...items)
  div.comment-block
    if obj.topic != ""
      div.comment-block__title
        h2= obj.topic
        p= obj.label
    each item in items
      div.comment-block__comment
        div.comment-block__person
          img.comment-block__photo(src=item.urlImg width="400" height="300" alt="photo room")
          div.comment-block__name-time
            p.comment-block__name= item.name
            p.comment-block__time= item.time
        div.comment-block__comment-text
          +like(
            {
              qty : item.qty,
              liked : item.liked
            }
            )
          p.comment-block__text= item.text
